{% extends 'base.html' %}

{% block content %}
<div class="contaner-fluid">
  <div class="container">
    <div class="details p-5">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ object.image.url }}" class="card-img-top" alt="..." width="100%" height="auto">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h1 class="card-text" >{{ object.image_name }}</h1>
            <p class="card-text lead">{{ object.image_description }}</p>
            <cite class="card text">{{ object.posted }}</cite>
            <a href="{% url 'update_post' object.pk %}" class="mt-1"> <button class=" btn btn-primary">Edit post</button> </a>
            <a href="{% url 'delete_post' object.pk %}" class="mt-1"> <button class=" btn btn-danger">Delete post</button> </a>
      </div>
          <div class="form-group">
            <label for="secret" class="fw-bold" style="text-decoration: underline;">Image Link</label>
            <input type="text" class="form-control" id="secret" value="{{ object.image.url }}" readonly>
          </div>
          <div class="align-content-md-end mt-2">
            <button type="button" class="btn btn-primary" onclick="copySecret()">Copy Image link</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<script>
  function copySecret() {
    /* Get the text field */
    var copyText = document.getElementById("secret");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    alert("Successfully copied Image link!");
  }
</script>


{% endblock %}