<div class="modal fade" id="Modal{{ image.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-2" id="exampleModalLabel">{{ image.image_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				<img src="{{ image.image.url }}" class="img-responsive" alt="" width="100%" height="auto" />
                <p class="lead">{{ image.image_description }}</p>
                <div class="form-group">
                    <label for="secret">Image Link</label>
                    <input type="text" class="form-control" id="secret" value="{{ image.image.url }}" readonly>
                  </div>
                  <button type="button" class="btn btn-primary" onclick="copySecret()">Copy Image link</button>
                <p>
                    Uploaded by:
                    <a href="{% url 'image_details' image.pk %}" class="fw-bold fs-2" > {{ image.user.username }}</a>
                </p>
                <a href="{% url 'update_post' image.pk %}"> <button class=" btn btn-primary">Edit post</button> </a>
                <a href="{% url 'delete_post' image.pk %}"> <button class=" btn btn-danger">Delete post</button> </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>