{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
{% endblock %}


<div class="container-fluid">
  <div class="sticky-top mb-2">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="{% url 'addImage' %}">Post an Image</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/">PhotoHub</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <form class="d-flex" role="search" action="{% url 'search_category' %}">
            <input class="form-control me-2" type="search" placeholder="Search category" name="category"
              aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </header>
    <!-- Location navigation -->
    <div class="nav-scroller py-1 mb-2 bg-dark">
      <nav class="nav d-flex justify-content-between">
        {% for location in locations %}
        <a class="p-1 link-secondary" href="/location/{{ location.name }}">{{ location.name }}</a>
        {% empty %}
        <a class="p-1 link-secondary" href="#">Technology</a>
        <a class="p-1 link-secondary" href="#">Design</a>
        <a class="p-1 link-secondary" href="#">Culture</a>
        <a class="p-1 link-secondary" href="#">Business</a>
        <a class="p-1 link-secondary" href="#">Politics</a>
        <a class="p-1 link-secondary" href="#">Opinion</a>
        {% endfor %}
      </nav>
    </div>
  </div>
</div>