{% extends 'base.html' %}


{% block content %}
<div class="contaner-fluid">
  <div class="finder">
    {% if images %}
    <h4>Found {{ images | length }} on {{ message }} search</h4>
    {% else %}
    <h4>Sorry didn't find the anything on {{ message }}. Try another category like <strong>( Art,Travel,Food,Sports
        )</strong></h4>
    {% endif %}
  </div>

  <div class="container">
    <div class="album">
      <div class="row">
        {% for image in images %}
        <div class="col-md-4">
          <img src="{{ image.image.url }}" class="img-responsive" alt="" width="100%" height="auto"
            data-bs-toggle="modal" data-bs-target="#Modal{{ image.id }}" />
          {% include 'modals.html' %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}