{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">

	<!-- <div class="search-area">
		<form class="d-flex ms-auto" role="search" action="{% url 'search_category' %}">
			<input class="form-control me-2" type="search" placeholder="Search category" name="category" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div> -->

	{% for location in locations %}
	<a href="{% url 'view_locations' location.id %}"><button type="button" name="" id="" class="btn btn-primary">
			{{ location.area }}
		</button></a>
		{% empty %}
	{% endfor %}
	<a class="p-1 link-secondary" href="{% url 'admin:index' %}">Admin</a>
	<div class="album">
		<div class="row">
			{% for image in images %}
			<div class="col-md-4 p-1">
				<img src="{{ image.image.url }}" class="img-responsive" alt="" width="100%" height="100%" data-bs-toggle="modal"
					data-bs-target="#Modal{{ image.id }}" />
				{% include 'modals.html' %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}